In [9]:
# Import python libraries
import numpy  as np
import pandas as pd

# Load dataset to pandas dataframe
movies = pd.read_csv(r"C:\Users\evere\Film Recomendation Project\data\ml-25m\movies.csv")
ratings = pd.read_csv(r"C:\Users\evere\Film Recomendation Project\data\ml-25m\ratings.csv")
tags = pd.read_csv(r"C:\Users\evere\Film Recomendation Project\data\ml-25m\tags.csv")

In [23]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [60]:
ratings_df = ratings[['movieId','rating']]
tags_df = tags[['movieId', 'tag']]

movies_df = movies.merge(tags_df, on=['movieId'], how='inner')

movies_df.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Owned
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,imdb top 250
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Pixar
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,time travel

In [61]:
movies_df.isnull().sum()
movies_df.dropna(inplace=True)

In [62]:
movies_df.duplicated().sum()
movies_df = movies_df.drop_duplicates()

In [64]:
ratings_df = ratings_df.drop_duplicates()
movies_df = movies_df.merge(ratings_df, on=['movieId'], how='inner')

In [73]:
experiement = movies_df[movies_df['movieId'] == 1]

In [75]:
experiement.tag.unique()

array(['Owned', 'imdb top 250', 'Pixar', 'time travel', 'children',
       'comedy', 'funny', 'witty', 'rated-G', 'animation',
       'computer animation', 'good cartoon chindren', 'pixar',
       'friendship', 'bright', 'DARING RESCUES', 'fanciful',
       'HEROIC MISSION', 'humorous', 'light', 'rousing',
       'TOYS COME TO LIFE', 'UNLIKELY FRIENDSHIPS', 'warm', 'Disney',
       'boy', 'boy next door', 'bullying', 'friends', 'jealousy',
       'martial arts', 'mission', 'neighborhood', 'new toy', 'rescue',
       'resourcefulness', 'rivalry', 'toy', 'toy comes to life',
       'walkie talkie', 'clever', 'Tom Hanks', 'toys', 'fun', 'dolls',
       'National Film Registry', 'adventure', 'animated', 'cgi', 'family',
       'fantasy', 'classic', 'Watched', 'action figure', 'action figures',
       'Buzz Lightyear', 'CG animation', 'Woody', 'nostalgic',
       'Tim Allen', 'childish', 'buddy movie', '3D', 'ya boy', 'cute',
       'story', 'voice acting', 'CGI', 'disney', 'toys played', 'cowboy',
       'dinosaur', 'fun family movie',
       'Best of Rotten Tomatoes: All Time', 'John Lasseter', 'the boys',
       'soothing', 'Cartoon', 'kids', 'Disney animated feature',
       'Pixar animation', 'TÃ©a Leoni does not star in this movie',
       'exciting plot', 'funny lines', 'touching story',
       '2009 reissue in Stereoscopic 3-D',
       '55 movies every kid should see--Entertainment Weekly', 'BD-Video',
       'CLV', 'DVD-Video', 'CGI classic', 'rainy day watchlist',
       'villian hurts toys', 'itaege', 'family film', 'animmation', 'avi',
       'buy', 'light hearted', 'whimsica', 'great movie',
       'kids and family', 'action', 'kids movie', 'favorite',
       "Tumey's To See Again", "Tumey's VHS", 'tim allen', 'tom hanks',
       'sci-fi', 'Animation', 'want to see again', 'innovative',
       'good time', 'unlikely friendships', 'Engaging', 'Want',
       'é˜®ä¸€é¸£', 'first cgi film', 'joss whedon', 'very good',
       'cartoon', 'unny', 'USA', 'lots of heart', 'American Animation'],
      dtype=object)

In [6]:
with open('key.txt', 'r') as f:
    key = f.readline()
    
movies = 'https://api.themoviedb.org/3/movie/550?api_key={key}'

(10000, 9)